@charset "UTF-8";
/*Functions-----------------------*/ /*Global styles*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

.container-max {
  width: 100%;
  max-width: 1500px;
  margin: auto;
}

header .carousel .carousel-inner img {
  margin-top: 53px;
  height: 400px;
  max-height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
}

/*flex de los icons---------------------------------------------*/
.section__elements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.section__elements .elements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
.section__elements .elements .icons-1 {
  width: 150px;
  margin: 0 15px;
}
.section__elements .elements .icons-1 .icon-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 15px;
  margin-bottom: 10px;
}
.section__elements .elements .icons-1 p {
  text-align: center;
  font-size: 20px;
}
.section__elements .elements .icons-2 {
  width: 150px;
  margin: 0 15px;
}
.section__elements .elements .icons-2 .icon-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 15px;
  margin-bottom: 10px;
}
.section__elements .elements .icons-2 p {
  text-align: center;
  font-size: 20px;
}
.section__elements .elements .icons-3 {
  width: 150px;
  margin: 0 15px;
}
.section__elements .elements .icons-3 .icon-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 15px;
  margin-bottom: 10px;
}
.section__elements .elements .icons-3 p {
  text-align: center;
  font-size: 20px;
}
.section__elements .elements .icons-4 {
  width: 150px;
  margin: 0 15px;
}
.section__elements .elements .icons-4 .icon-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 15px;
  margin-bottom: 10px;
}
.section__elements .elements .icons-4 p {
  text-align: center;
  font-size: 20px;
}

.callToAction button {
  width: 150px;
  height: 50px;
  background-color: #4EBDB1;
  border-radius: 50px;
  color: #eeebeb;
  font-size: 20px;
  border: 3px solid #398b83;
  margin-top: 15px;
  margin-bottom: 15px;
}
.callToAction button:hover {
  background-color: #1f4c48;
}

/*Seccion de mascotas----------------------------------------*/
.main__article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgb(232, 108, 210);
  background: radial-gradient(circle, rgb(232, 108, 210) 0%, rgb(222, 150, 206) 60%, rgb(231, 172, 212) 100%);
  /*Segunda parte del main----------------------------------*/
}
.main__article .main__section-pets-responsive {
  display: none;
}
.main__article .main__div-h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 10px;
}
.main__article .main__div-h1 h1 {
  width: 80%;
  font-size: 50px;
}
.main__article .main__div-p {
  width: 70%;
}
.main__article .main__div-p p {
  text-align: center;
  font-size: 30px;
}
.main__article .main__section-pets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.main__article .main__section-pets .pet-1 {
  margin-bottom: 20px;
}
.main__article .main__section-pets .pet-1 img {
  margin: 20px;
  width: 350px;
  height: 350px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50px;
}
.main__article .main__section-pets .pet-2 {
  margin-bottom: 20px;
}
.main__article .main__section-pets .pet-2 img {
  margin: 20px;
  width: 350px;
  height: 350px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50px;
}
.main__article .main__section-pets .pet-3 {
  margin-bottom: 20px;
}
.main__article .main__section-pets .pet-3 img {
  margin: 20px;
  width: 350px;
  height: 350px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50px;
}

/*Fin del main---------------------------*/
/*Comienzo de la sección de alimento para perros------------------------*/
.alimento {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.alimento h3 {
  text-align: center;
  margin: 15px 0 0 0;
  font-size: 50px;
}
.alimento .alimento__p {
  text-align: center;
  margin: 10px 0;
  font-size: 25px;
}
.alimento .container__food {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 90%;
  margin: auto;
}
.alimento .container__food .card__food {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 15px;
  width: 250px;
}
.alimento .container__food .card__food .food__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
  aspect-ratio: 1/1;
  border: 2px solid #b0b0b0;
}
.alimento .container__food .card__food .food__description {
  width: 200px;
}
.alimento .container__food .card__food .food__description a {
  text-align: center;
  color: #000000;
}
.alimento .container__food .card__food .food__description a p {
  margin: 0;
}
.alimento .container__food .card__food .food__price h5 {
  margin: 15px 0 0 0;
}

.footer__container-grid {
  width: 100%;
  background: rgb(131, 200, 208);
  background: radial-gradient(circle, rgb(131, 200, 208) 0%, rgb(88, 173, 217) 60%, rgb(161, 238, 236) 100%);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: -webkit-min-content -webkit-min-content;
  grid-template-rows: min-content min-content;
  grid-template-areas: "title       img" "description img";
}

.footer__title {
  grid-area: title;
  text-align: center;
  margin-top: 15px;
}

.footer__text {
  grid-area: description;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__img {
  grid-area: img;
  margin-top: 15px;
}

/* 
==========================================               ========================================== 
========================================== MEDIA QUERIES ========================================== 
==========================================               ========================================== 
*/
/*icons-------------------------------------------------------------*/
/*Tablet-----------------------------------------------------*/
@media screen and (max-width: 1180px) {
  /*Seccion de mascotas----------------------------------------*/
  .main__section-pets {
    display: none !important;
  }
  .main__article {
    /*Segunda parte del main----------------------------------*/
  }
  .main__article .main__section-pets-responsive {
    display: initial;
  }
  .main__article .main__section-pets-responsive {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main__article .main__section-pets-responsive .other-pets {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .main__article .main__section-pets-responsive img {
    margin: 20px;
    width: 300px;
    aspect-ratio: 1/1;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 50px;
  }
  /*Fin del main---------------------------*/
}
/*movile-------------------------------------*/
@media screen and (max-width: 700px) {
  .section__elements {
    width: 100%;
  }
  .section__elements .elements {
    width: 100%;
    margin: 0;
  }
  .section__elements .elements .icons-1 {
    width: 25%;
    margin: 0;
  }
  .section__elements .elements .icons-1 .icon-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    margin: 0;
  }
  .section__elements .elements .icons-1 .icon-img img {
    width: 70%;
  }
  .section__elements .elements .icons-1 p {
    font-size: 10px;
  }
  .section__elements .elements .icons-2 {
    width: 25%;
    margin: 0;
  }
  .section__elements .elements .icons-2 .icon-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    margin: 0;
  }
  .section__elements .elements .icons-2 .icon-img img {
    width: 70%;
  }
  .section__elements .elements .icons-2 p {
    font-size: 10px;
  }
  .section__elements .elements .icons-3 {
    width: 25%;
    margin: 0;
  }
  .section__elements .elements .icons-3 .icon-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    margin: 0;
  }
  .section__elements .elements .icons-3 .icon-img img {
    width: 70%;
  }
  .section__elements .elements .icons-3 p {
    font-size: 10px;
  }
  .section__elements .elements .icons-4 {
    width: 25%;
    margin: 0;
  }
  .section__elements .elements .icons-4 .icon-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    margin: 0;
  }
  .section__elements .elements .icons-4 .icon-img img {
    width: 70%;
  }
  .section__elements .elements .icons-4 p {
    font-size: 10px;
  }
  /*Seccion de mascotas----------------------------------------*/
  .main__article .main__section-pets-responsive {
    display: none;
  }
  .main__article .main__section-pets {
    display: initial !important;
  }
  .main__article .main__section-pets .pet-1 {
    margin: 0;
  }
  .main__article .main__section-pets .pet-1 img {
    margin: 0;
    width: 100%;
    aspect-ratio: 1/1;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 50px;
    margin-bottom: 15px;
  }
  .main__article .main__section-pets .pet-2 {
    margin: 0;
  }
  .main__article .main__section-pets .pet-2 img {
    margin: 0;
    width: 100%;
    aspect-ratio: 1/1;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 50px;
    margin-bottom: 15px;
  }
  .main__article .main__section-pets .pet-3 {
    margin: 0;
  }
  .main__article .main__section-pets .pet-3 img {
    margin: 0;
    width: 100%;
    aspect-ratio: 1/1;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 50px;
    margin-bottom: 15px;
  }
  /*Comienzo de la sección de alimento para perros------------------------*/
  .alimento {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .alimento .container__food {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  /*footer grid---------------------------------------------------------------------*/
  .footer__container-grid {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__container-grid .footer__img img {
    width: 100%;
  }
}