.article__productos{
    display: flex;
    flex-direction: row;
    .section-options{
        padding: 75px 0 0 0;
        display: flex;
        flex-direction: column;
        section{
            margin: 20px;
            ul{
                padding: 0 0 0 5px;
                li{
                    margin: 7px 0;
                }
            }
        }
    }
}

.show {
    display: block;
}

@media (max-width: 700px) {
    .article__productos{
        display: flex;
        flex-direction: column;
    }
    ul {
        display: none;
        padding: 0;
    }

}